{% extends "layout.html" %}

{% block body %}
<div class="container">
    <form action="/logon" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" name="login" placeholder="login">
      </div>
      <br>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember">Remember
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock%}