{% extends "layout.html" %}

{% block body %}
<div class="container">
    <form action="/register" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" name="login" placeholder="Login">
      </div>
      <br>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
       <br>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
{% endblock%}